*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}


.header{
  background-color: #ec6f75;
  color: white;
  padding: 15px;
  box-shadow: 0px 4px 5px 0px rgba(140,140,140,1);
  text-align: center;
  margin-bottom: 15px;
}

.footer{
  background-color: #ec6f75;
  color: white;
  padding: 15px 0;
  margin-top: 15px;
}
.footer p{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.single-user{
  border: 1px solid lightgray;
  width: 32%;
  margin: 2px 15px 30px 0px;
  float: left;
  box-shadow: 0px 4px 5px 0px rgba(140,140,140,1);
  border-radius: 25px 25px 0 0;

}

.single-user p{
  padding-left: 15px;
}

.name{
  padding-top: 10px;
}

.dob{
  padding-bottom: 30px;
}

.whole-list{
  width: 80%;
  margin: 0 auto;
}

.img{
  width: 100%;
  border-radius: 25px 25px 0 0;
  }