*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}

.dugmici{
  text-align: center;
}
.elButton{
  width: 80px;
  text-align: center;
  padding:5px;
  margin: 10px;
  background: none;
  border-radius: 10px;
}

.header{
  background-color: #ec6f75;
  color: white;
  padding: 15px;
  box-shadow: 0px 4px 5px 0px rgba(140,140,140,1);
  text-align: center;
  margin-bottom: 15px;
  height: 67px;
}

.footer{
  background-color: #ec6f75;
  color: white;
  padding: 15px 0;
  margin-top: 15px;
  flex-shrink: 0;
  height: 48px;
}
.footer p{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.single-card-user{
  border: 1px solid lightgray;
  width: 32%;
  margin: 2px 15px 30px 0px;
  float: left;
  box-shadow: 0px 4px 5px 0px rgba(140,140,140,1);
  border-radius: 25px 25px 0 0;
}

.single-list-user{
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 0 0 10px;
}
.round-img{
  float:left;
  margin-right: 10px;
  border-radius: 50%;
}
.list-name{
  font-weight: 600;
}
.single-card-user p{
  padding-left: 25px;
}
.mail{
  padding-top: 30px;
  padding-bottom: 5px;
}
.name{
  margin-top: -60px;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.dob{
  padding-bottom: 30px;
}

.whole-list{
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 235px);
}

.img{
  width: 100%;
  border-radius: 25px 25px 0 0;
  }

.buttons{
    position: absolute;
    right: 11%;
    top: 1%;
}
h3{
display: inline;
margin-right: 20px;
}

.buttons button{
  padding: 5px 20px 5px 20px;
  margin: 5px;
  background-color:transparent;
  border: none;
  color: white;
  font-size: 25px;
  outline: none;
}
button:hover{
  background-color: #D5646A;
  cursor: pointer;
}

.red {
  background-color: #ffebee;
}
.search-bar{
  margin: 20px auto;
  width: 80%;
}

.search-bar i{
  position: relative;
  margin: 0;
  padding: 0;
}

.search{
  margin: 20px auto;
  width: 98.9%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.about-holder {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 195px);
}
.about-holder h1{
  margin-top: 30px;
  font-size: 45px;
}

.about-holder h3{
  margin-top: 30px;
  font-size: 30px;
}

.about-holder p{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}
.link-to:link,
.link-to:active,
.link-to:hover,
.link-to:visited{
  color: white;
  text-decoration: none;
}
.cube{
  min-height: calc(100vh - 715px);
}

.sk-cube-grid {
  width: 200px;
  height: 200px;
  margin: 300px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color:  #ec6f75;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.no-users{
  text-align: center;
  margin: 300px auto;
}
.no-users h1{
  font-size: 80px;
  color: grey;
}
.no-users p{
  font-size: 40px;
  color: grey;
}