*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}

.dugmici{
  text-align: center;
}
.elButton{
  width: 80px;
  text-align: center;
  padding:5px;
  margin: 10px;
  background: none;
  border-radius: 10px;
  
}

.header{
  background-color: #ec6f75;
  color: white;
  padding: 15px;
  box-shadow: 0px 4px 5px 0px rgba(140,140,140,1);
  text-align: center;
  margin-bottom: 15px;
}

.footer{
  background-color: #ec6f75;
  color: white;
  padding: 15px 0;
  margin-top: 15px;
}
.footer p{
  display: block;
  width: 80%;
  margin: 0 auto;
}

.single-card-user{
  border: 1px solid lightgray;
  width: 32%;
  margin: 2px 15px 30px 0px;
  float: left;
  box-shadow: 0px 4px 5px 0px rgba(140,140,140,1);
  border-radius: 25px 25px 0 0;

}
.single-list-user{
  border: 1px solid lightgray;
  width: 100%;
  padding: 10px 0 0 10px;
}
.round-img{
  float:left;
  margin-right: 10px;
  border-radius: 50%;
}
.list-name{
  font-weight: 600;
}
.single-card-user p{
  padding-left: 25px;
}
.mail{
  padding-top: 30px;
  padding-bottom: 5px;
}
.name{
  margin-top: -60px;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.dob{
  padding-bottom: 30px;
}

.whole-list{
  width: 80%;
  margin: 0 auto;
}

.img{
  width: 100%;
  border-radius: 25px 25px 0 0;
  }

  .buttons{
    position: absolute;
    right: 11%;
    top: 1%;
  }
  .buttons button{
    padding: 5px 20px 5px 20px;
    margin: 5px;
    background-color:transparent;
    border: none;
    color: white;
    font-size: 25px;
    outline: none;
  }
button:hover{
  background-color: #D5646A;
  cursor: pointer;
}

.red {
  background-color: #ffebee;
}
.search-bar{
  margin: 20px auto;
  width: 80%;
}

.search-bar i{
  position: relative;
  margin: 0;
  padding: 0;
}

.search{
  margin: 20px auto;
  width: 98.9%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgrey;
}